<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/common_inertia.xacro"/>
    <xacro:macro name="laser_xacro" params="xyz">
        <!-- 雷达支撑杆 -->
        <link name="laser_cylinder_link">
            <!-- 部件的外观描述 -->
            <visual>
                <!-- 沿着自己几何中心的偏移和旋转 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- 几何形状 -->
                <geometry>
                    <!-- 正方体 -->
                    <cylinder radius="0.01" length="0.1"/>
                </geometry>
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </visual>
            <collision>
                <!-- 沿着自己几何中心的偏移和旋转 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- 几何形状 -->
                <geometry>
                    <!-- 正方体 -->
                    <cylinder radius="0.01" length="0.1"/>
                </geometry>
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </collision>
            <xacro:cylinder_inertia m="0.05" r="0.01" h="0.1"/>
        </link>
        <!-- 雷达 -->
        <link name="laser_link">
            <!-- 部件的外观描述 -->
            <visual>
                <!-- 沿着自己几何中心的偏移和旋转 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- 几何形状 -->
                <geometry>
                    <!-- 正方体 -->
                    <cylinder radius="0.02" length="0.02"/>
                </geometry>
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </visual>
            <collision>
                <!-- 沿着自己几何中心的偏移和旋转 -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- 几何形状 -->
                <geometry>
                    <!-- 正方体 -->
                    <cylinder radius="0.02" length="0.02"/>
                </geometry>
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </collision>
            <xacro:cylinder_inertia m="0.10" r="0.02" h="0.02"/>
        </link>
        <!-- 机器人的关节，用于组合机器人的部件 -->
        <joint name="laser_joint" type="fixed">
            <!-- 父部件 -->
            <parent link="laser_cylinder_link" />
            <!-- 子部件 -->
            <child link="laser_link" />
            <!-- 子部件相对父部件的平移和旋转 -->
            <origin xyz="0.0 0.0 0.05" rpy="0 0 0" />
        </joint>
        <joint name="laser_cylinder_joint" type="fixed">
            <!-- 父部件 -->
            <parent link="base_link" />
            <!-- 子部件 -->
            <child link="laser_cylinder_link" />
            <!-- 子部件相对父部件的平移和旋转 -->
            <origin xyz="${xyz}" rpy="0 0 0" />
        </joint>

        <gazebo reference="laser_cylinder_link">
            <material>Gazebo/Black</material>
        </gazebo>
        <gazebo reference="laser_link">
            <material>Gazebo/Black</material>
        </gazebo>
        
    </xacro:macro>
</robot>
